body {
  background-color: #ccc;
}

div {
  border: 1px dashed purple;
  float: left;
}

img {
  width: 250px;
}

h1 {
  background-color: pink;
}

.imageContainer {
  width: 300px;
}

button {
  margin: 10px 10px;
}

.message {
  border: 1px solid blue;
  width: 300px;
  padding: 5px 5px;
}
