body {
  background: linear-gradient(45deg, #283048, #859398);
  background-color: #ccc;
  font-family: 'Bellefair', serif;
  color: #fff;
}

div {
  float: left;
}

img {
  width: 300px;
}

h1 {
  font-family: 'Crimson Text', serif;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 0.1em;
}

h3 {
  font-family: 'Crimson Text', serif;
  text-align: center;
  color: lightCyan;
  letter-spacing: 0.1em;
}

p {
  font-size: 1.3em;
  text-align: center;
}

button {
  margin: 0px 10px;
}

span {
  margin-top: 50px;
}

.imageContainer {
  width: 300px;
  margin-bottom: 20px;
}

.image {
  margin-bottom: 10px;
}

.container {
  /*border: 1px green solid;*/
  margin: 0 auto;
}

.message {
  height: 300px;
  width: 300px;
  background-color: rgba(156,156,156,0.5);
  border: 2px solid #708090;
  border-radius: 5px;
  padding: 10px 10px;
  margin-bottom: 10px;

}

#likeCount {
  font-size: 2.0em;
  padding-top: 5px;
}

#viewCount {
  color: #C1E8F5;
  padding-top: 5px;
}
